<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="NeusoftCCSEntities" connectionString="metadata=res://*/NeusoftCCS.csdl|res://*/NeusoftCCS.ssdl|res://*/NeusoftCCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=NeusoftCCS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>